/* .footer-container{
    background-color: #f3f3f3;
}
footer{
    height: 427px;
    width: 100%;
    border-top: 1px solid #E0E0E0;
}
.footer-container hr{
    height: 1px;
    color: #E0E0E0;
    border: none;
    background-color: #E0E0E0;
}
.footer-wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.footer-wrap img{
    margin-left: 498px;
    width: 192px;
}
.footer-tel{
    width: 411px;
    height: 64px;
    padding-left: 48px;
    border: 1px solid #b9b9b9;
    margin: 18px  auto;
    line-height: 67px;
}
.footer-tel .iconfont{
    font-size: 32px;
    color: #14916a;
    display: block;
    float: left;
    margin-right: 15px;
}
.footer-tel span:nth-of-type(2){
    color: #14916a;
    font-size: 22px;
    font-weight: 550;
}
.footer-tel-coverleft{
    width: 20px;
    height: 31px;
    background-color: #F3F3F3;
    top: 16px;
    left: -10px;
}
.footer-tel-coverright{
    top: 16px;
    right: -10px;
    width: 20px;
    height: 31px;
    background-color: #F3F3F3;
}
.footer-ul{
    margin-top: 47px;
}
.footer-ul li{
    float: left;
}
.footer-ul li:nth-of-type(1){
    width: 423px;
}
.footer-ul li:nth-of-type(2){
    width: 527px;
}
.information section,.informationc section{
    height: 43px;
}
.information-left{
    float: left;
    width: 24px;
    padding-top: 5px;
}
.information-left img:nth-of-type(1){
    width: 18px;
    margin-left: 0;
    margin-bottom: 3px;
}
.information-left img:nth-of-type(2){
    width: 11px;
    margin-left: 3.7px;
    margin-bottom: -0.5px;
}
.information-left img:nth-of-type(3){
    width: 14px;
    margin-left: 2px;
    margin-bottom: -3.2px;
}
.information-left img:nth-of-type(4){
    width: 14px;
    margin-top: 11px;
    margin-left: 2px;
}
.footer-information{
    height: auto;
}
.information-right{
    margin-top: -2px;
}
.information-right a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #555;
    height: 24px;
    line-height: 29px;
}
.footer-ul-mid li{
    float: left;
}
.footer-ul-mid a{
    font-size: 12px;
    color: #555;
    font-weight: normal;
    font-stretch: normal;
    text-decoration: none;
}
.footer-ul-mid li:nth-of-type(2n+1){
    font-size: 12px;
    color: #555;
    font-weight: normal;
    font-stretch: normal;
    width: 54px;
}
.footer-ul-mid li:nth-of-type(1){
    width: 56px;
}
.footer-ul-mid li:nth-of-type(2n){
    font-size: 12px;
    width: 13px;
    color: #555;
    width:14px;
}
.footer-ul-mid li:nth-of-type(2n+1):hover{
    text-decoration: underline;
}
.information article img{
    width: 223px;
    margin-left: 64px;
    margin-top: 23px;
}
.footer-fasticon{
    width: 100%;
}
.footer-fasticon img{
    width: 24px;
    margin-left:2px;
}
.footer-fasticon a{
    margin-right: 12.8px;
    text-decoration: none;
}                             
.footer-fasticon a img:nth-of-type(1){
    margin-left: 0;
}
.footer-fasticon a:nth-of-type(4) img{
    width: 20px;
}
.informationc article a{
    font-size: 14px;
    color: #14916a;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}
.copyright{
    text-align: center;
    margin-top: 12px;
    height: 32px;
}
.copyright a{
    text-decoration: none;
    font-size: 12px;
    color: #555;
}
.footer-tel a{
    text-decoration: none;
}
.footer-wrap a:hover span:nth-of-type(2){
    text-decoration: underline;
}
.information-right a:hover,.information a:hover{
    color: #14916a;
}
.footer-fasticon a:hover{
    opacity: 0.5;
}
.fasticon-weixin{
    width: 100px;
    height: 96px;
    top: 38px;
    left: -30px;
    background-color: #fff;
    text-align: center;
    padding-top: 5px;
    display: none;
}
.fasticon-triangle{
    width: 0;
    height: 0;
    border: 8px solid rgb(250, 107, 107);
    top: -16px;
    left: 34px;
    border-color: transparent transparent rgb(255, 255, 255);
}
.fasticon-weixin img{
    width: 90px;
}
.footer-fasticon a:nth-of-type(1):hover+.fasticon-weixin{
    display: block;
    opacity: 1;

}
.copyright a:hover{
    text-decoration: underline;
    color: #14916a;
} */